body {
    color: white;
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.game {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 20%;
    background-color: blue;
    border-radius: 25px;
}

.game img {
    position: absolute;
    top: 50%;
    left: 25%;
    height: 80%;
    transform: translate(-50%, -50%);
}

.game h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0;
    transform: translate(-50%, -50%);
    color: black;
}