body {
    color: white;
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.game {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 20%;
    background-color: blue;
    border-radius: 25px;
}