body {
    color: white;
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (orientation: landscape) {
    .game {
        position: relative;
        top: 5%;
        left: 25%;
        width: 40%;
        height: 20%;
        transform: translate(-50%, 0);
    }
}

@media screen and (orientation: portrait) {
    .game {
        position: relative;
        top: 5%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, 0);
    }
    .game img {
        position: relative;
        top: 0;
        left: 5%;
        width: 10%;
        height: 100%;
    }
    .game h1 {
        position: relative;
        top: 10%;
        left: 5%;
        width: 75%;
        height: 80%;
    }
}